<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
              http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">

    <http>
        <intercept-url pattern="/css/*" filters="none"/>
        <intercept-url pattern="/img/*" filters="none"/>
        <intercept-url pattern="/js/*" filters="none"/>
        <intercept-url pattern="/admin/**" access="ROLE_ADMIN"/>
        <form-login login-page="/login.do" authentication-failure-url="/login.do?error" default-target-url="/home.do" always-use-default-target="false"/>
        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
        <logout logout-url="/signout/"/>
        <remember-me user-service-ref="userService"/>
    </http>

    <authentication-provider user-service-ref="userService">
        <password-encoder ref="passwordEncoder"/>
    </authentication-provider>

    <beans:bean id="passwordEncoder" class="net.sziebert.tutorials.security.BCryptPasswordEncoder"/>

</beans:beans>