/*
CSS3 + vendor-specific styles

-webkit     Safari
-moz        Firefox
*/

/* fadetastic links */

a:link, a:visited {
    -webkit-transition: color .2s linear;
}

a:hover {
    color: rgba(33, 33, 33, .8);
}

/* featured ads */

section.featured div.feature a span {
	background-color: rgba(0, 0, 0, .7);
}

/* nav toggle */

#main-nav li a,
#main-nav li.selected a {
    -webkit-transition: background-color .1s linear;
}

#main-nav li a:hover,
#main-nav li.selected a {
    background: rgba(0, 0, 0, .15);
}

#main-nav li.selected a {
}