/* body and structure */

body {
  background-color: #fff;
  position: relative;
}

section {
  padding-top: 60px;
}

section > .row {
  margin-bottom: 10px;
}

/* common elements */

footer {
    border:  none;
}

footer p {
    text-align: center;
}

/* featured posts */

#featured .page-header {
    margin-bottom: 0;
}

#featured .row {
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
    padding: 17px 0;
    margin-bottom: 17px;
}

/* posts */

#posts article {
    border-bottom: 1px solid #ddd;
    margin-top: 17px;
    padding-bottom: 8px;
}

#posts .avatar {
    float: left;
}

#posts .content {
    float: left;
    margin-left: 20px;
    padding-top: 0;
    width: 500px;
}

#posts .content header {
    margin-bottom: 9px;
}

#posts .content h5 {
    line-height: 14px;
}

#posts .content h5 a {
    color: #404040;
}

#posts .content h5 span {
    color: #bfbfbf;
    font-weight: normal;
    font-size: 13px;
    margin-left: 8px;
}

#posts .content a {
    color: #000;
}

section.posts {
    padding-top: 16px;
}

section.posts header {
    border-bottom: 1px solid #ccc;
}

section.posts article {
    border-bottom: 1px solid #ccc;
    margin-top: 16px;
    padding-bottom: 16px;
}

section.posts article a {
    color: #000;
}

section.posts article section {
    float: right;
    margin-top: 0;
    width: 575px;
}

section.posts article img {
    border: 1px solid #ddd;
    float: left;
    margin-right: 16px;
    padding: 6px;
}

section.posts article header {
    border-bottom: none;
    font-size: .9em;
    line-height: 1.3em;
}

section.posts article header h1 {
    color: #555;
    margin-bottom: 6px;
}

section.posts article header h1 strong {
    color: #000;
    margin: 0 24px 0 0;
}

section.posts article header h1 em {
    font-size: .8em;
    font-style: normal;
}

section.posts .rating {
    margin-right: 24px;
}

section.posts .rating img {
    border: none;
    clear: left;
    float: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 2px;
}

section.posts article footer {
    color: #555;
    font-size: .75em;
    margin-top: 0;
}

section.posts article p {
    font-size: .8em;
    margin: 10px 0;
}

/* post types */

.ad-types {
    width: 100%;
}

.ad-types td,
.ad-types th {
    border: 1px solid #9f9f9f;
    padding: 16px;
    width: 25%;
}

.ad-types td.last,
.ad-types th.last {
    margin-right: 0;
}

.ad-types th h3 {
    text-transform: uppercase;
}

.ad-types th p {
    padding: 16px 0;
}

.ad-types th a.cta {
    display: block;
    margin: 0 auto;
}

.ad-types th {
    background-color: #ddd;
}

.ad-types td {
    font-size: .9em;
}

.ad-types td ol {
    list-style: none;
    text-align: left;
}

.ad-types td li {
    padding-bottom: 8px;
}

/* profiles */

header.summary {
    display: inline-block;
    clear: both;
    margin: 0 0 5px 0;
    padding: 0 0 1.1em 0;
    width: 100%;
}

header.summary div,
header.summary hgroup {
    display: inline-block;
}

header.summary div.actions {
    clear: both;
    float: right;
    margin-bottom: 4px;
}

header.summary div.actions a {
    margin-left: 24px;
}

header.summary h1 {
    font-weight: normal;
    font-size: 1.4em;
    margin: 0 0 5px 0;
}

header.summary h1 em {
    color: #555;
    font-size: .8em;
    font-style: normal;
}

header.summary h1 span {
    float: right;
    font-size: .65em;
}

header.summary h1 span a {
    margin-left: 24px;
}

header.summary h2 {
    font-weight: normal;
    font-size: .9em;
    margin: 0 0 5px 0;
}

header.summary h2 span {
    display: block;
    margin-bottom: 4px;
    padding-right: 24px;
}

section.profile h1 {
    font-weight: bold;
    margin-bottom: 12px;
}

section.profile p {
    line-height: 125%;
    margin-bottom: 24px;
}

section.profile div.tab-row {
    margin-bottom: 20px;
}

section.profile div.meta dd,
section.profile div.meta dt {
    float: left;
    margin: 0 0 8px;
}

section.profile div.meta dt {
    clear: both;
    margin: 0 16px 8px 0;
    text-align: left;
    width: 50px;
}

section.profile div.meta dd {
    color: #555;
    font-weight: bold;
}

section.profile div.meta p {
    margin-top: 16px;
}

section.profile div.meta section {
    margin-bottom: 24px;
}

section.profile ul li {
    list-style: none;
    position: relative;
    margin: 0 0 2px 0;
}

section.profile ul li a {
    color: #000;
    display: block;
    padding: 8px;
    position: relative;
    z-index: 2;
}

* html section.profile ul li,
* html section.profile ul li a {
    height: 1%;
}

section.profile ul li em {
    color: #555;
    float: right;
    font-style: normal;
    font-weight: normal;
    visibility: hidden;
}

section.profile ul li:hover em {
    visibility: visible;
}

section.profile ul li span {
    background: #ddd;
    display: block;
    height: 100%;
    left: 0;
    line-height: 2.55em;
    position: absolute;
    text-indent: -9999px;
    top: 0;
}

section.profile ul li:hover span {
    background: #ccc;
}

section.profile section.reviews h1 {
    margin-bottom: 18px;
}

section.profile article.review h1 {
    margin-bottom: 6px;
}

section.profile article.review p {
    color: #555;
    margin-bottom: 18px;
}

section.profile article.review .rating {
    margin-right: 6px;
}

section.profile article.review .rating img {
    border: none;
    clear: left;
    float: none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 3px;
}

section.profile ul.links li a {
    color: #0000ff;
    margin: 6px 0;
    padding: 0;
}

/* form extensions */

div.editor-row {
    position: relative;
}

form li.complex div.editor-row span.left,
form li.complex div.editor-row span.middle {
    width: 43% !important;
}

form li.complex div.editor-row span.middle {
    clear: none !important;
    float: left;
    margin-left: 5% !important;
}

div.editor-row span.delete {
    clear: none !important;
    float: right;
    position: relative;
    top: 1px;
    width: 16px;
}

/* jquery-ui extensions */

.ui-widget {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;
    font-size: .85em;
}

/* datagrid */

div.page-actions {
    float: right;
    margin: 0 0 8px 0;
}

.datagrid {
    background: #fff;
    border: 1px solid #9f9f9f;
    width: 100%;
}

.datagrid th,
.datagrid td {
    border-bottom: 1px solid #9f9f9f;
    margin: 0;
    padding: 8px 12px;
    text-align: left;
    vertical-align: baseline;
}

.datagrid .actions {
    font-size: .9em;
    margin: 6px 0 0;
    visibility: hidden;
}

.datagrid .status {
    color: #555;
    font-size: .9em;
    margin: 6px 0 0;
}

.datagrid th.checkbox {
    padding: 5px 0 6px 8px;
    width: 2.2em;
}

.datagrid .name {
    padding-left: 6px;
}

.datagrid .date {
    white-space: nowrap;
}

.datagrid tr {
    background: #fcfcfc;
}

.datagrid tr:hover,
.datagrid tr.alt:hover {
    background: #dedede;
}

.datagrid tr:hover .actions {
    visibility: visible;
}

.datagrid tr.alt {
    background: #eee;
}

.datagrid thead th,
.datagrid tfoot th {
    background: #ccc;
}

.datagrid thead th {
    font-size: .9em;
}

.datagrid tfoot th {
    border-bottom: none;
}

.datagrid td a,
.datagrid td.name span {
    color: #000;
    font-weight: bold;
}

.datagrid td img.profile {
    background: #fff;
    border: 1px solid #9f9f9f;
    float: left;
    margin-right: 8px;
    padding: 2px;
}

.datagrid td div.actions a {
    color: #00f;
    font-weight: normal;
}

a.delete,
.datagrid td div.actions a.delete,
.datagrid td div.actions a.delete:visited {
    color: #f00;
}

/* tags */

.wufoo .tags {
    margin-top: 12px;
}

.tags li, .tags a {
    float: left;
    font-size: .9em;
    height: 24px;
    line-height: 24px;
    position: relative;
}

.tags li {
    clear: none;
    margin: 0 0 8px 0;
    padding: 0;
    position: static;
    width: auto;
}

.tags a {
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    background: #9f9f9f;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    margin-left: 20px;
    padding: 0 10px 0 12px;
    text-decoration: none;
}

.tags a:before {
    border-color: transparent #9f9f9f transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    content: "";
    float: left;
    height: 0;
    left: -12px;
    position: absolute;
    top: 0;
    width: 0;
}

.tags a:after {
    -moz-border-radius: 2px;
    -moz-box-shadow: -1px -1px 2px #444;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: -1px -1px 2px #444;
    background: #fff;
    border-radius: 2px;
    box-shadow: -1px -1px 2px #444;
    content: "";
    float: left;
    height: 4px;
    left: 0;
    position: absolute;
    top: 10px;
    width: 4px;
}

.tags a:hover {
    background: #555;
}

.tags a:hover:before {
    border-color: transparent #555 transparent transparent;
}

/* clearfix */

.group:after {
    display: block;
    clear: both;
    content: " ";
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.group {
    display: inline-table;
}

/* Hides from IE-mac \*/
* html .group {
    height: 1%;
}

.group {
    display: block;
}
/* End hide from IE-mac */